$codepot-green: #2CB588;

$success-color: $codepot-green;

@import "normalize";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/forms";
$topbar-bg-color: $codepot-green;
$topbar-link-bg: $codepot-green;
$topbar-link-bg-hover: scale-color($codepot-green, $lightness: -14%);
$topbar-link-bg-color-hover: $charcoal !default;
$topbar-link-bg-active: $primary-color !default;
$topbar-dropdown-bg: $codepot-green !default;

@import "foundation/components/top-bar";
.top-bar {
  .title-area {
    padding: 0 $column-gutter/2;
  }
  img {
    height: rem-calc(34);
  }
  .static {
    text-decoration: none;
    background: $topbar-bg-color;
    padding: 0 0.5rem;
    color: white;
  }
  a {
    text-decoration: none;
  }
}

@import "foundation/components/buttons";
button {
  &.disabled, &[disabled], &.disabled.success, &[disabled].success {
    background-color: #CCC;
    &:hover, &[hover], &:focus, &[focus] {
      background-color: #BBB;
    }
  }
}

#loading-indicator {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.3);

  &.hidden {
    display: none;
  }
}

.error.hidden {
  display: none;
}

span.hint {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

#{text-inputs(all, 'input')} {
  @if $input-include-glowing-effect == false {
    transition: none;
  }
}

.index {
  button {
    width: 100%;
  }
}

section#buy-a-ticket {
  button {
    width: 100%;
    span {
      display: block;
    }
    .name {
      font-size: 1.125rem;
    }
    .price {
      font-size: 1.125*1.125rem;
    }
    .total-price {
      font-size: 1/1.125rem;
      color: scale-color($codepot-green, $lightness: -14%);
    }
  }
}
