$codepot-green: #2CB588;

$success-color: $codepot-green;

@import "normalize";
@import "flexbox";
@import "animation";
@import "font-awesome/font-awesome";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/forms";
$topbar-bg-color: $codepot-green;
$topbar-link-bg: $codepot-green;
$topbar-link-bg-hover: scale-color($codepot-green, $lightness: -14%);
$topbar-link-bg-color-hover: $charcoal !default;
$topbar-link-bg-active: $primary-color !default;
$topbar-dropdown-bg: $codepot-green !default;

@import "foundation/components/top-bar";
.top-bar {
  .title-area {
    padding: 0 $column-gutter/2;
  }
  img {
    height: rem-calc(34);
  }
  .static {
    text-decoration: none;
    background: $topbar-bg-color;
    padding: 0 0.5rem;
    color: white;
  }
  a {
    text-decoration: none;
  }
}

@import "foundation/components/buttons";
button {
  &.disabled, &[disabled], &.disabled.success, &[disabled].success {
    background-color: #CCC;
    &:hover, &[hover], &:focus, &[focus] {
      background-color: #BBB;
    }
  }
}

#loading-indicator {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.3);

  transition: opacity .4s ease-in-out;
  -moz-transition: opacity .4s ease-in-out;
  -webkit-transition: opacity .4s ease-in-out;
  opacity: 1;
  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

.error.hidden {
  display: none;
}

span.hint {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

#{text-inputs(all, 'input')} {
  @if $input-include-glowing-effect == false {
    transition: none;
  }
}

.index {
  button {
    width: 100%;
  }

  .reset-password {
    margin-top: -1rem;
  }
}

.prices {
  text-align: center;
  .price-wrapper {
    width: 100%;
    text-align: center;
    max-width: 370px;
    padding: 1rem;
    display: inline-block;
    color: white;
    margin-bottom: 1rem;
    &.active {
      background: $codepot-green;
    }
    &.inactive {
      background: #CCC;
    }
    span {
      display: block;
    }
    .name {
      font-size: 1.125rem;
    }
    .price {
      font-size: 1.125*1.125rem;
    }
    .total-price, .dates {
      font-size: 1/1.125rem;
      color: scale-color($codepot-green, $lightness: -25%);
    }
    &.inactive {
      .total-price, .dates {
        color: scale-color(#CCC, $lightness: -25%);
      }
    }
  }
}

section#buy-a-ticket {
  button {
    width: 100%;
    span {
      display: block;
    }
    .name {
      font-size: 1.125rem;
    }
    .price {
      font-size: 1.125*1.125rem;
    }
    .total-price, .dates {
      font-size: 1/1.125rem;
      color: scale-color($codepot-green, $lightness: -25%);
    }
  }
  button {
    &.disabled, &[disabled], &.disabled.success, &[disabled].success {
      .total-price, .dates {
        font-size: 1/1.125rem;
        color: scale-color(#CCC, $lightness: -25%);
      }
    }
  }
  .summary {
    margin-bottom: rem-calc(24);
    span {
      display: block;
    }
  }
  .buttons {
    button {
      font-size: 1.125*1.125rem;
    }
  }
}

section#check-payment-status {
  span {
    display: block;
  }
  .button-wrapper {
    margin: 2rem 0;
    text-align: center;
    button {
      font-size: 1.125*1.125rem;
    }
  }
}

section#agenda {
  margin-top: 1rem;
  .search-bar {
    @extend %flexbox;
    input {
      @include flex-grow(1);
    }
    button {
      @include flex-shrink(1);
      padding: rem-calc(9.5) 0;
      width: rem-calc(42);
    }
  }

  h1, h2, h3 {
    text-align: center;
    margin: 0;
  }

  .event {
    width: 100%;
    border: solid 1px;
    padding: 0.5rem;
    margin: 0.5rem 0;
    @extend %flexbox;
    @include align-items(baseline);
    h1 {
      @include flex-grow(1);
      text-align: left;
      font-size: 1 * 1.25rem;
      line-height: 1;
      margin: 0;
      display: inline-block;
    }
    span {
      font-size: 0.8rem;
      line-height: 1;
    }

    i {
      @include transition(all 0.5s ease-in-out);
    }
    &.selected {
      i {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }
  }

  button.workshop {
    border: solid 1px;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  #day1slot1workshops {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    margin-top: -0.5rem;
    @include transition(all 1s ease-in-out);

    &.visible {
      opacity: 1;
      margin-top: 0.5rem;
      max-height: 999px;
    }
  }
}

footer {
  margin: 2rem 0 1rem 0;
  text-align: right;
  color: #666;
  img {
    height: 1.2rem;
    margin-bottom: 3px;
  }
}
