<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            {{#link-to ''}}<img src="codepot-logo.png" alt=""/>{{/link-to}}
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
        <ul class="right">
            {{#if isUserSignedInProperty}}
                <li class="static">Hi there {{userData.user.firstName}} {{userData.user.lastName}}!</li>
                <li><a href="#" {{action 'signOut'}}>Sign Out</a></li>
            {{/if}}
        </ul>
    </section>
</nav>

{{outlet}}

<div class="row">
    <div class="columns">
        <footer>
            Powered by Tiktalik <a href="https://tiktalik.com/" target="blank"><img src="/tiktalik-logo.png" alt="Tiktalik logo"/></a>
        </footer>
    </div>
</div>
