<div class="row">
    <div class="small-12 medium-6 medium-centered columns">
        <h1>Thanks {{firstName}}!</h1>

        <p>Your payment has been processed and your ticket is here.</p>

        <p>We will inform you about workshop registration date via e-mail and our social channels.</p>

        {{#link-to 'agenda'}}
            <button class="success">SEE AGENDA</button>
        {{/link-to}}

        {{#link-to 'check-payment-status'}}
            <button class="success small">My Payment Information</button>
        {{/link-to}}
    </div>
</div>
