<div class="row">
    <div class="small-12 medium-6 medium-centered columns">
        <h1>Thanks {{firstName}}!</h1>

        <p>Your payment has been processed and your ticket is here.</p>

        <p>Below you can find more information:</p>

        <div class="row">
            <div class="columns">
                {{#link-to 'agenda'}}
                    <button class="success">SEE AGENDA</button>
                {{/link-to}}
            </div>
        </div>

        <div class="row">
            <div class="columns">
                {{#link-to 'workshops'}}
                    <button class="success">MY WORKSHOPS</button>
                {{/link-to}}
            </div>
        </div>

        <div class="row">
            <div class="columns">
                {{#link-to 'check-payment-status'}}
                    <button class="success">My Payment Information</button>
                {{/link-to}}
            </div>
        </div>


    </div>
</div>
