<div class="row">
    <div class="small-12 medium-6 medium-centered columns">
        <h1>Thanks {{firstName}}!</h1>

        <p>We've got your e-mail and we will contact you when ticket sell is open!</p>
    </div>
</div>

<div class="row">
    <div class="small-12 medium-6 medium-centered columns">
        <button {{action 'signOut'}}>SIGN OUT</button>
    </div>
</div>
