<div class="row">
    <div class="small-12 columns">
        <h1>Regulamin codepot.pl 2015</h1>

        <h2>§1 Informacje ogólne</h2>
        <p>
        Właścicielem i operatorem serwisu internetowego znajdującego się pod adresem www.codepot.pl jest MCE-MeetLab Sp. z o.o. zarejestrowaną w Krajowym Rejestrze Sądowym, Sąd Rejonowy dla m.st. Warszawy XIII Wydział Gospodarczy, kapitał zakładowy 5000 PLN opłacony w całości, z siedzibą w Warszawie, przy ulicy Osowskiej 23 m 6, NIP: 1132870945, REGON: 146983073 zwaną dalej Operatorem
        </p>

        <h2>
        §2 Usługa zakupu biletów
        </h2>

        <ol>
            <li>
        Usługą świadczoną przez Operatora za pomocą serwisu http://registration.codepot.pl jest zakup biletów wstępu na organizowane przez Operatora wydarzenia.
            </li>
            <li>
        Zasady organizacji i uczestnictwa w wydarzeniach organizowanych przez Operatora określono w odrębnych regulaminach.
            </li>
            <li>
        Operator jest jedynym właściwym uprawnionym podmiotem do sprzedaży biletów na organizowane przez siebie wydarzenia.
            </li>
            <li>
        Operator zastrzega sobie prawa do zmiany cen w trakcie prowadzenia sprzedaży biletów na dane wydarzenie.
            </li>
            <li>
        Operator zastrzega sobie prawo do udostępniania wybranym osobom kodów rabatowych pozwalających na zakup biletu w bardziej atrakcyjnej cenie.
            </li>
            <li>
        Operator zastrzega sobie prawo do anulowania kodu rabatowego w przypadku stwierdzenia że został on przekazany osobie trzeciej bez zgody operatora.
            </li>
            <li>
        Operator udostępni zainteresowanym zakupem biletów, narzędzia do dokonania płatności za zakupione bilety.
            </li>
            <li>
        Obsługa płatności realizowana będzie przez wyspecjalizowane podmioty z którymi operator zawarł odpowiednie umowy pośrednictwa.
            </li>
            <li>
        Operator nie ponosi odpowiedzialności za błędne funkcjonowanie systemów obsługujących płatności.
            </li>
            <li>
        Operator nie ponosi odpowiedzialności za ewentualne problemy i przerwy w funkcjonowaniu serwisu oraz Usługi zakupu biletów, spowodowane działaniem czynników zewnętrznych i niezależnych, jak np. awarią sprzętu, oprogramowania lub łącz internetowych, działania siły wyższej i innych.
            </li>
            <li>
        Operator dołożył wszelkich starań, aby zapewnić właściwe funkcjonowanie Usługi i serwisu znajdującego się pod adresem http://registration.codepot.pl. Operator nie gwarantuje jednak bezbłędnego działania serwisu ani jego przydatności do jakichkolwiek celów. Operator nie ponosi odpowiedzialności za jakiekolwiek straty bezpośrednie i pośrednie powstałe w wyniku korzystania z serwisu.
            </li>
            <li>
        W przypadku zażądania faktury, faktura zostanie wysłana w ciągu 14 dni na adres mailowy podany przez zamawiającego, na podany adres e-mail. W szczególnych przypadkach możliwe jest też dostarczenie faktury wydrukowanej na adres pocztowy podany przez zamawiającego.
            </li>
        </ol>

      <h2>
        §3 Rejestracja i dostarczenie usługi
      </h2>

      <ol>
          <li>
        Aby skorzystać z usługi zakupu biletu, należy dokonać rejestracji za pośrednictwem formularza rejestracyjnego a następnie opłacić Usługę, podając m.in. aktualny i własny adres e-mail.
          </li>
          <li>
        Potwierdzeniem rejestracji oraz zakupu, będzie wiadomość e-mail otrzymana przez Użytkownika na podany w formularzu rejestracji adres e-mail.
          </li>
          <li>
        Potwierdzenie rejestracji (bilet) uprawnia do wzięcia udziału w roli uczestnika w konferencji Codepot.pl dnia 28-29 sierpnia 2015 r.
          </li>
      </ol>

      <h2>
        §4 Płatności PayU
      </h2>

      <ol>
          <li>
        Płatności PayU obsługuje PayU S.A. z siedzibą w Poznaniu (60-324), ul. Marcelińska 90, wpisana do Rejestru Przedsiębiorców prowadzona przez Sąd Rejonowy Poznań - Nowe Miasto i Wilda w Poznaniu, VIII Wydział Gospodarczy Krajowego Rejestru Sądowego pod nr KRS 274399, NIP 7792308495, REGON 300523444. Infolinia PayU +48 61 630 60 05.
          </li>
          <li>
        Płatność poprzez system płatności PayU może odbywać za pomocą karty kredytowej/debetowej, przelewu z rachunku bankowego lub bezpośredniej wpłaty gotówkowej na konto PayU dokonanej w banku lub oddziale Poczty Polskiej.
          </li>
          <li>
        Po opłaceniu zakupionego biletu, Użytkownik uzyskuje możliwość wstępu na wybrane przez siebie wydarzenie.
          </li>
          <li>
        Regulaminy i dokumentacje usługi PayU znajdują się na stronie http://www.payu.pl/pliki-do-pobrania/regulaminy-i-informacje
          </li>
      </ol>

      <h2>
        §5 Reklamacje, zwroty, procedura odwołania zgłoszenia
      </h2>

      <ol>
          <li>
        Użytkownikowi przysługuje prawo złożenia reklamacji związanej z funkcjonowaniem Serwisu, nieotrzymaniem biletu lub wstępu, mimo prawidłowego przeprowadzenia płatności poprzez systemy płatności zgodne z §4, niniejszego regulaminu w terminie 7 dni od dnia wystąpienia zdarzenia będącego przyczyną reklamacji, poprzez wysłanie e-maila na adres: contact@codepot.pl
          </li>
          <li>
        Odwołanie zgłoszenia - w przypadku odwołania zgłoszenia później niż 30 dni przed rozpoczęciem konferencji pobieramy opłatę manipulacyjną w wysokości 75% kwoty. W przypadku odwołania zgłoszenia w terminie krótszym niż 14 dni przed rozpoczęciem konferencji wpłata na poczet uczestnictwa nie podlega zwrotowi. W każdym czasie wyznaczyć można na swoje miejsce innego uczestnika. Zgłoszenia rezygnacji należy dokonać pisemnie na adres e-mail: contact@codepot.pl
          </li>
          <li>
        Zwrot środków w przypadkach opisanych w pkt. 1. i 2. Nastąpi w ciągu 14 dni od wysłania zgłoszenia zawierającego informację wystarczającą do zidentyfikowania i potwierdzenia płatności.
          </li>
      </ol>

      <h2>
        §6 Dane osobowe, polityka prywatności
      </h2>

      <ol>
          <li>
        Operator ma prawo do przetwarzania danych osobowych w celu realizacji konferencji oraz komunikacji na temat towarzyszących jej i innym (podobnym) inicjatywom.
          </li>
          <li>
        Uczestnikom przysługuje prawo do wglądu w swoje dane osobowe, a także ich modyfikacji oraz usunięcia – żądania zmian w danych przechowywanych przez MCE-MeetLab Sp. z o.o powinny być wysyłane na adres contact@codepot.pl
          </li>
          <li>
        Dane uczestników przechowywane przez MCE-MeetLab Sp. z o.o. będą używane do organizacji konferencji Codepot.pl oraz podobnych wydarzeń. Dane te nie będą przekazywane innym podmiotom.
          </li>
      </ol>

      <h2>
        §7 Postanowienia końcowe
      </h2>
      <ol>
      <li>
        Operator zastrzega sobie prawo do wprowadzenia zmian w niniejszym regulaminie.
      </li>
          <li>
        Operator ma prawo do przetwarzania danych osobowych w celu realizacji konferencji oraz wysyłania towarzyszących jej I innym (podobnym) inicjatywom informacji.
          </li>
          <li>
        Uczestnikom przysługuje prawo do wglądu w swoje dane osobowe, a także ich modyfikacji oraz usunięcia.
          </li>
      </ol>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h1>
            Warunki uczestnictwa
        </h1>

        <h2>
            Kogo zapraszamy?
        </h2>
        <p>
            Do udziału w konferencji “Codepot.pl” (28-29 sierpnia 2015) zapraszamy:
        </p>
        <ul>
            <li>
                profesjonalistów i entuzjastów wszelkich technologi i praktyk IT
            </li>
            <li>
programistów
            </li>
            <li>
testerów
            </li>
            <li>
administratorów
            </li>
            <li>
devopsów
            </li>
            <li>
projektantów/designerów/grafików
            </li>
            <li>
Ciebie!
            </li>
        </ul>

        <h2>
            Udział w konferencji
        </h2>

        <p>
Aby zgłosić swój udział w konferencji “Codepot.pl” należy wypełnić formularz zgłoszeniowy na stronie http://registration.codepot.pl i dokonać wpłaty za uczestnictwo w konferencji. Liczba biletów jest ograniczona, możliwość dokonania rejestracji i opłacenia biletów zostanie zamknięta z chwilą wyczerpania limitu. Do wszystkich zgłoszonych uczestników konferencji zostanie wysłany e-mail (przed 28 sierpnia 2015) potwierdzający udział w konferencji "Codepot.pl" wraz z informacjami praktycznymi dotyczącymi organizacji konferencji. Uczestnicy konferencji wyrażają zgodę na wykorzystywanie ich wizerunku (np. na zdjęciach z konferencji) w materiałach konferencyjnych (głównie w serwisie internetowym).
        </p>

        <h2>
            Rezerwacja miejsc w hotelu
        </h2>

        <p>
W ramach opłaty konferencyjnej organizatorzy nie zapewniają miejsc w hotelu, wszelkie rezerwacje i ponoszone koszty są w gestii uczestnika konferencji. Organizatorzy konferencji nie ponoszą odpowiedzialności za kontakt z hotelami i rezerwację miejsc hotelowych, która winna być dokonywana bezpośrednio przez uczestników konferencji.
        </p>

        <h2>
            Zmiana uczestnika
        </h2>

        <p>
W przypadku zmiany nazwiska osoby, która będzie brała udział w konferencji, instytucja lub osoba zgłaszająca jest zobowiązana do mailowego poinformowania organizatorów o zmianie najpóźniej do 28 lipca 2015 r.
        </p>

        <h2>
            Rezygnacja z udziału
        </h2>

        <p>
W przypadku rezygnacji osoby z udziału w konferencji i niezgłoszeniu innej osoby na miejsce uczestnika, opłata konferencyjna nie zostanie zwrócona. Nieobecność uczestnika na konferencji nie upoważnia do dochodzenia zwrotu wpłaconej kwoty. Warunki uczestnictwa w konferencji mogą zostać zmienione przez Organizatorów w dowolnym momencie.
        </p>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h1>
Polityka Prywatności
        </h1>
        <ol>
            <li>
Serwis nie zbiera w sposób automatyczny żadnych informacji, z wyjątkiem informacji zawartych w plikach cookies. Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w szczególności pliki tekstowe, które przechowywane są w urządzeniu końcowym Użytkownika Serwisu i przeznaczone są do korzystania ze stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z której pochodzą, czas przechowywania ich na urządzeniu końcowym oraz unikalny numer.
            </li>
            <li>
Podmiotem zamieszczającym na urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz uzyskującym do nich dostęp jest operator MCE-MeetLab Sp. z o.o. zarejestrowaną w Krajowym Rejestrze Sądowym, Sąd Rejonowy dla m.st. Warszawy XIII Wydział Gospodarczy, kapitał zakładowy 5000 PLN opłacony w całości, z siedzibą w Warszawie, przy ulicy Osowskiej 23 m 6, NIP: 1132870945, REGON: 146983073 zwaną dalej Operatorem
            </li>
            <li>
Pliki cookies wykorzystywane są w celu:
                <ul>
                    <li>
dostosowania zawartości stron internetowych Serwisu do preferencji Użytkownika oraz optymalizacji korzystania ze stron internetowych; w szczególności pliki te pozwalają rozpoznać urządzenie Użytkownika Serwisu i odpowiednio wyświetlić stronę internetową, dostosowaną do jego indywidualnych potrzeb;
                    </li>
                    <li>
tworzenia statystyk, które pomagają zrozumieć, w jaki sposób Użytkownicy Serwisu korzystają ze stron internetowych, co umożliwia ulepszanie ich struktury i zawartości;
                    </li>
                </ul>
            </li>
            <li>
W ramach Serwisu stosowane są dwa rodzaje plików cookies: „sesyjne” (session cookies) oraz „stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w urządzeniu końcowym Użytkownika do czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w urządzeniu końcowym Użytkownika przez czas określony w parametrach plików cookies lub do czasu ich usunięcia przez Użytkownika.
            </li>
            <li>
W ramach Serwisu stosowane są następujące rodzaje plików cookies:
                <ul>
                    <li>
„niezbędne” pliki cookies, umożliwiające korzystanie z usług dostępnych w ramach Serwisu, np. uwierzytelniające pliki cookies wykorzystywane do usług wymagających uwierzytelniania w ramach Serwisu;
                    </li>
                    <li>
pliki cookies służące do zapewnienia bezpieczeństwa, np. wykorzystywane do wykrywania nadużyć w zakresie uwierzytelniania w ramach Serwisu;
                    </li>
                    <li>
„wydajnościowe” pliki cookies, umożliwiające zbieranie informacji o sposobie korzystania ze stron internetowych Serwisu;
                    </li>
                    <li>
W wielu przypadkach oprogramowanie służące do przeglądania stron internetowych (przeglądarka internetowa) domyślnie dopuszcza przechowywanie plików cookies w urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać w każdym czasie zmiany ustawień dotyczących plików cookies. Ustawienia te mogą zostać zmienione w szczególności w taki sposób, aby blokować automatyczną obsługę plików cookies w ustawieniach przeglądarki internetowej bądź informować o ich każdorazowym zamieszczeniu w urządzeniu Użytkownika Serwisu. Szczegółowe informacje o możliwości i sposobach obsługi plików cookies dostępne są w ustawieniach oprogramowania (przeglądarki internetowej).
                    </li>
                </ul>
            </li>
            <li>
Operator Serwisu informuje, że ograniczenia stosowania plików cookies mogą wpłynąć na niektóre funkcjonalności dostępne na stronach internetowych Serwisu.
            </li>
            <li>
Pliki cookies zamieszczane w urządzeniu końcowym Użytkownika Serwisu i wykorzystywane mogą być również przez współpracujących z operatorem Serwisu partnerów.
            </li>
            <li>
Więcej informacji na temat plików cookies dostępnych jest pod adresem www.wszystkoociasteczkach.pl lub w sekcji „Pomoc” w menu przeglądarki internetowej.
            </li>
        </ol>
    </div>
</div>
