<div class="row">
    <div class="columns">
        <h1>E-Mail With Reset Link Sent</h1>

        <p>
            We have just sent an email (to: <strong>{{email}}</strong>) with password reset link. Please click on it
            and provide new password for your account.
        </p>
    </div>
</div>