<div class="row">
    <div class="columns">
        <h1>Reset Password</h1>

        <p>Please provide new password:</p>

        <form {{action "resetPassword" on="submit"}}>
            <div>
                {{input value=password type='password' placeholder='Password'}}
            </div>
            <button class="success" {{bind-attr disabled=buttonDisabled}}>RESET PASSWORD</button>
        </form>
    </div>
</div>